* {
    box-sizing: border-box;
    /* font-size: 24px; */
}


body {
    margin: 0;
    padding: 0;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
}

label {
    display: block;
    padding: 5px 0px 5px 0px
}

input[type="firstName"],
input[type="lastName"],
input[type='email'],
input[type='password'],
input[type="button"] {
    display: block;
    background-color: #D5D5F5;
    color: black;
}

#firstName {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#lastName {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#email {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#password {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

input[type="button"] {
    padding: 15px 33%;
    margin: 0px 0 10px 0px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
}


h1 {
    text-align: center;
}

h2 {
    margin-bottom: 20px
}


input[type="button"]:hover {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.45);
}

a {
    text-decoration: none;
}

.centerPage {
    height: 100vh;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
sizing for the logo ignore for now
 .logo {
    width:  100px;
    height: 100px;

} 
*/

.createAccount {
    overflow: hidden;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 3px 12px 28px -3px rgba(0,0,0,0.45);
}



#username {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#password {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#log {
    width: fit-content;
    height: fit-content;
}

#output {
    color:      #D5D5F5;
    text-align:   center;
}
